<div class = "container" id = "comment_edit">
<%= form_for([@pit, @comment]) do |f| %>
 <div class = "row"> 
    <div class = "col-md-4"></div>
    <div class = "col-md-4">
<h4>Edit Comment</h4>
        <form class="form-inline" role="form">
            <div class="form-group">
                <%= f.text_field :body, autofocus: true   %>
            </div>
             <p> <%= f.submit "Update" %> </p>
        </form>
        <% end %>
    </div>
    </div>
    <div class = "col-md-4"></div>
</div
</div>
</div>