
  <% content_for :title do %>About<% end %>

<div class = "container about">

  <div class = "well" >
    <h3>About The Firepit</h3>
    <p>The purpose of this web application is to allow users to create and participate in focused intimate discussions on specific topics created by the user. Users will be rewarded for constructive and logically sound discussions around said topic. Socia media apps like facebook are nice for this in some ways, particularly with the "groups" feature. However, I find that something more geared and specific is needed for some people like myself and others that I know. The aim is really to eliminate uneeded banter and argumentation that goes nowhere. Other web apps certainly allow for good discussion but there is little to stop a good discussion from going bad which is far often the case. I'm hoping that this application can curb some of the issues you commonly see in other like applications around the internet.</p>

    <p> This idea is not my own and was spurned by many real life firepit discussions around a real fire. The participants of those discussions found it was the perfect environment to discuss a great many ideas, both complex and simple at great length, without conflict amongst people who often didn't agree with each other.</p>
  <p>
  This web application was created by Mark Hustad with
  <%= link_to('Rails Composer', 'http://railsapps.github.io/rails-composer/') %>
  from the <%= link_to('RailsApps project', 'http://railsapps.github.io/') %>.
  </p>
  </div>
  </div>