



      <div class = "navbar navbar-inverse navbar-fixed-bottom">
         <div class = "container">
           <p class = "navbar-text pull-left">Site Built by Mark Hustad</p>
           <a href = "http://youtube.com/hustada" class = "navbar-btn btn-default btn pull-right footer-button">Subscribe</a>

         </div>


      </div>




   