<footer>
<div class="row home-footer">
    <div class="col-md-4">
      <h3>Some Title</h3>
      <p>A little about the above title and summary of whats here</p>
    </div>
    <div class="col-md-4">
      <h3>Another Subtitle</h3>
      <p>Some other shit explaining the shit above and all that good shit</p>
    </div>
    <div class="col-md-4">
      <h3>Another, yet again, subtitle</h3>
      <p>Some more bullshit to make the page render and look pretty</p>
    </div>
  </div>
</footer>
